<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/champSelect.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nothing+You+Could+Do&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="logo-container">
      <img src="../static/img/logo.png" alt="" />
      <!-- <a href="/"><h1>Draft Page</h1></a> -->
    </div>

    <div class="drafted-players-container">
      <!-- TEMPLATE START HEROES -->
      <form class="form-draft" action="#" method="get">
        <div class="drafted-player-heroes">
          <!-- COST 3 - 4 -->
          <div class="three-four-coins">
            <div class="pay-to-take-heroes">
              <div class="drafted-heroes-img-container">
                <label for="zed"
                  ><img src="../static/img/zed.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="zed" />
                <label for="renataGlasc"
                  ><img src="../static/img/renataGlasc.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="renataGlasc" />
              </div>
              <div class="heroes-cost">
                <img src="../static/img/coin.png" alt="" />
                <h3 id="hero-coin">3</h3>
              </div>
            </div>
            <div class="pay-to-take-heroes">
              <div class="drafted-heroes-img-container">
                <label for="zoe"
                  ><img src="../static/img/zoe.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="zoe" />
                <label for="zilean"
                  ><img src="../static/img/zilean.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="zilean" />
              </div>
              <div class="heroes-cost">
                <img src="../static/img/coin.png" alt="" />
                <h3 id="hero-coin">4</h3>
              </div>
            </div>
          </div>
          <!-- COST 5 -->
          <div class="five-coins">
            <div class="pay-to-take-heroes">
              <div class="drafted-heroes-img-container">
                <label for="twistedFate"
                  ><img src="../static/img/twistedFate.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="twistedFate" />
                <label for="tahmKench"
                  ><img src="../static/img/tahmKench.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="tahmKench" />
              </div>
              <div class="heroes-cost">
                <img src="../static/img/coin.png" alt="" />
                <h3 id="hero-coin">5</h3>
              </div>
            </div>
          </div>
          <!-- COST 1 OR 2 -->
          <div class="one-two-coins">
            <div class="pay-to-take-heroes">
              <div class="drafted-heroes-img-container">
                <label for="riven"
                  ><img src="../static/img/riven.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="riven" />
                <label for="blitzCrank"
                  ><img src="../static/img/blitzCrank.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="blitzCrank" />
              </div>
              <div class="heroes-cost">
                <img src="../static/img/coin.png" alt="" />
                <h3 id="hero-coin">2</h3>
              </div>
            </div>
            <div class="pay-to-take-heroes">
              <div class="drafted-heroes-img-container">
                <label for="akali"
                  ><img src="../static/img/akali.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="akali" />
                <label for="senna"
                  ><img src="../static/img/senna.png" alt=""
                /></label>
                <input type="radio" name="player-pay-radio" id="senna" />
              </div>
              <div class="heroes-cost">
                <img src="../static/img/coin.png" alt="" />
                <h3 id="hero-coin">1</h3>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- TEMPLATE END HEROES -->
      <div class="drafted-blue-team">
        <div id="blue-team-points" class="team-points">15</div>
        <div class="drafted-player-container">
          <img class="drafted-player-img" src="../static/img/mein.png" alt="" />
        </div>
        <div class="drafted-player-container">
          <img
            class="drafted-player-img"
            src="../static/img/player.png"
            alt=""
          />
        </div>
        <div class="drafted-player-container">
          <img
            class="drafted-player-img"
            src="../static/img/player.png"
            alt=""
          />
        </div>
        <div class="drafted-player-container">
          <img
            class="drafted-player-img"
            src="../static/img/player.png"
            alt=""
          />
        </div>
        <div class="drafted-player-container">
          <img
            class="drafted-player-img"
            src="../static/img/player.png"
            alt=""
          />
        </div>
      </div>
      <div class="drafted-red-team">
        <div id="red-team-points" class="team-points">15</div>
        <img class="drafted-player-img" src="../static/img/player.png" alt="" />
        <img class="drafted-player-img" src="../static/img/player.png" alt="" />
        <img class="drafted-player-img" src="../static/img/player.png" alt="" />
        <img class="drafted-player-img" src="../static/img/player.png" alt="" />
        <img class="drafted-player-img" src="../static/img/player.png" alt="" />
      </div>
    </div>
    <script src="../static/js/champSelect.js"></script>
  </body>
</html>
