<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nothing+You+Could+Do&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/styles/liga.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="logo-container"><img src="../static/img/logo.png" alt=""></div>
    <div class="hero">
      <button id="hero-btn">
        <h1 id="hero-main-heading">choose YOUR fighters...</h1>
      </button>
      <!-- players -->
      <div id="all-players">
        <div class="first-five">
          <div class="player-container">
            <img id="mein"  class="player-img" src="../static/img/mein.png" alt="" />
            <audio
              src="../static/sound/meinHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="kole" class="player-img" src="../static/img/kole.png" alt="" />
            <audio
              src="../static/sound/koleHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="bellyfut" class="player-img" src="../static/img/bellyfut.png" alt="" />
            <audio
              src="../static/sound/bellyfutHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="marko" class="player-img" src="../static/img/marko.png" alt="" />
            <audio
              src="../static/sound/markoHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="jesus" class="player-img" src="../static/img/jesus.png" alt="" />
            <audio
              src="../static/sound/jesusHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
        </div class="player-container">
        <!-- <div class="hero-choises"></div> -->
        <div class="second-five">
          <div class="player-container">
            <img id="lio" class="player-img" src="../static/img/lio.png" alt="" />
            <audio
              src="../static/sound/lioHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="pajaPlatina" class="player-img" src="../static/img/pajaPlatina.png" alt="" />

            <audio
              src="../static/sound/pajaPlatinaHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="sofija" class="player-img" src="../static/img/sofija.png" alt="" />
            <audio
              src="../static/sound/sofijaHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="vucko" class="player-img" src="../static/img/vucko.png" alt="" />
            <audio
              src="../static/sound/vuckoHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
          <div class="player-container">
            <img id="pes" class="player-img" src="../static/img/pes.png" alt="" />
            <audio
              src="../static/sound/pesHover.mp3"
              type="audio/mpeg"
              class="player-hover"
            ></audio>
          </div>
        </div>
      </div>
    </div>
    <!-- timovi -->
    <div class="teams">
      <div class="team-one"><h2 class="team-heading">Blue Team</h2></div>
      <div class="timer">30</div>
      <div class="team-two"><h2 class="team-heading">Red Team</h2></div>
    </div>
  </body>
  <script src="../static/js/heroji.js"></script>
  <!-- <script src="./test.js"></script> -->
</html>
