<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    fak jes
    <ul>
    {% for hero, champ in thc['blue_team'].items() %}
      <li>{{ hero }} --- {{ champ }}</li>
    {% endfor %}
    </ul>
    VS
    <ul>
      {% for hero, champ in thc['red_team'].items() %}
        <li>{{ hero }} --- {{ champ }}</li>
      {% endfor %}
      </ul>
  </body>
</html>
