<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/champSelect.css" />
    <title>TEST</title>
  </head>
  <body>
    <div class="logo-container">
      <img src="../static/img/logo.png" alt="" />
      <!-- <a href="/"><h1>Draft Page</h1></a> -->
    </div>
    <div class="drafted-players-container">
      <div class="drafted-blue-team">
        <div id="blue-team-points" class="team-points">15</div>
        <div class="drafted-players">
          {% for blue_player in blue_team_players %}
          <div class="drafted-player-container">
            <button
              onclick="show_champs('{{ blue_player }}')"
              class="player-btn"
            >
              <img
                class="drafted-player-img"
                src="../static/img/{{ blue_player }}.png"
                alt=""
              />
            </button>
            <div id="{{ blue_player }}" class="list">
              {% for cost,champs in blue_team[blue_player].items() %}
              <div class="coin-cost-champs {{ blue_player }}-player">
                {% for champ in champs %}
                <label for="{{ blue_player }}-{{ champ }}"
                  ><img
                    class="hero-img"
                    src="../static/img/{{ champ }}.png"
                    alt="../static/img/{{ champ }}.png"
                /></label>
                <input
                  value="{{ cost }}"
                  id="{{ blue_player }}-{{ champ }}"
                  type="radio"
                  name="{{ blue_player }}-champs"
                  class="radio-hero-group"
                />

                {% endfor %}
                <div class="coin-cost">
                  <h5>{{ cost }}</h5>
                  <img src="../static/img/coin.png" alt="" />
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="drafted-red-team">
        <div id="red-team-points" class="team-points">15</div>
        <div class="drafted-players">
          {% for red_player in red_team_players %}
          <div class="drafted-player-container">
            <button
              onclick="show_champs('{{ red_player }}')"
              class="player-btn"
            >
              <img
                class="drafted-player-img"
                src="../static/img/{{ red_player }}.png"
                alt=""
              />
            </button>
            <div id="{{ red_player }}" class="list">
              {% for cost,champs in red_team[red_player].items() %}
              <div class="coin-cost-champs {{ red_player }}-player">
                {% for champ in champs %}
                <label for="{{ red_player }}-{{ champ }}"
                  ><img
                    class="hero-img"
                    src="../static/img/{{ champ }}.png"
                    alt=""
                /></label>
                <input
                  value="{{ cost }}"
                  id="{{ red_player }}-{{ champ }}"
                  type="radio"
                  name="{{ red_player }}-champs"
                  class="radio-hero-group"
                />

                {% endfor %}
                <div class="coin-cost">
                  <h5>{{ cost }}</h5>
                  <img src="../static/img/coin.png" alt="" />
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script src="../static/js/test.js"></script>
  </body>
</html>
