/* boje */
:root {
  --bela: #ffffff;
  --crna: #000000;
  --plava: #0093e9;
  --crvena: #d33445;
  --borda: #553f46;
  --zuta: #d4c381;
  --siva: #636768;
  --zelena: #66a93a;
  ::selection {
    color: var(--bela);
    background-color: var(--crna);
  }
}
/* fontovi */
@font-face {
  font-family: friz;
  src: url(../fonts/frizMedium.otf);
}
@font-face {
  font-family: frizBold;
  src: url(../fonts/frizBold.otf);
}
@font-face {
  font-family: frizBoldItalic;
  src: url(../fonts/frizBoldItalic.otf);
}
@font-face {
  font-family: frizItalic;
  src: url(../fonts/frizItalic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: friz, serif;
  background-image: url(../img/champSelectBg2.png);
  background-size: cover;
  /* background-position-x: 220px; */
  height: 100vh;
}
.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
  padding: 45px;
}
.submit-blue {
  cursor: pointer;
  border-radius: 20px;
  font-family: frizBold, serif;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2.5px;
  padding: 5px 20px;
  outline: none;
  border: none;
  transition: 0.3s all ease;
  background-color: var(--siva);
  color: var(--crna);
  pointer-events: none;
}
.submit-red {
  cursor: pointer;
  border-radius: 20px;
  font-family: frizBold, serif;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2.5px;
  padding: 5px 20px;
  outline: none;
  border: none;
  transition: 0.3s all ease;
  color: var(--crna);
  background-color: var(--siva);
  pointer-events: none;
}
.submit-draft {
  cursor: pointer;
  border-radius: 20px;
  font-family: frizBold, serif;
  font-weight: normal;
  font-size: 36px;
  letter-spacing: 2.5px;
  padding: 5px 20px;
  outline: none;
  border: none;
  transition: 0.3s all ease;
  background-color: var(--zelena);
  color: var(--bela);
  /* pointer-events: none; */
  display: none;
}
.drafted-players-container {
  /* position: relative; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 480px;
}
.drafted-blue-team,
.drafted-red-team {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  position: relative;
}
/* .drafted-blue-team::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  letter-spacing: 60px;
  content: "LOCKED";
  color: white;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: var(--crna);
  opacity: 0.8;
  z-index: 999999;
}
.drafted-red-team::before {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  letter-spacing: 60px;
  content: "LOCKED";
  color: white;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  background-color: var(--crna);
  opacity: 0.8;
  z-index: 999999;
} */
.drafted-players {
  position: relative;
  gap: 203px;
  display: flex;
  flex-direction: row;
}
.drafted-red-team {
  background-color: var(--crvena);
}
.drafted-blue-team {
  background-color: var(--plava);
}
.drafted-player-img {
  border-radius: 50%;
  cursor: pointer;
}
/* form */
.form-draft {
  position: absolute;
}
#blue-team-points,
#red-team-points {
  font-family: friz, serif;
  font-size: 48px;
  text-align: center;
  margin-right: 20px;
  color: var(--bela);
}
.drafted-player-heroes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--plava);
  padding: 20px;
  gap: 10px;
  transition: 0.27s all ease-in-out;
  opacity: 0;
}
.one-two-coins,
.three-four-coins {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.pay-to-take-heroes {
  background-color: var(--bela);
  border: 2px solid var(--crna);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.drafted-heroes-img-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.heroes-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.heroes-cost #hero-coin {
  font-size: 2.5rem;
}
/* radio buttons */
input[type="radio"] {
  display: none;
}

/* hero img */
.hero-img {
  cursor: pointer;
  filter: grayscale();
  opacity: 0.9;
}
.drafted-player-container {
  /* ZA KASNIJE */
  position: relative;
  width: 150px;
  text-align: center;
}
.player-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.drafted-blue-team .list {
  position: absolute;
  top: 146px;
  right: -70px;
  display: none;
  background-color: transparent;
  /* -webkit-box-shadow: -7px -4px 69px 11px var(--plava);
  -moz-box-shadow: -7px -4px 69px 11px var(--plava); */
  box-shadow: -7px -4px 69px 11px var(--plava);
}
.drafted-red-team .list {
  position: absolute;
  bottom: 144px;
  right: -70px;
  display: none;
  background-color: var(--crvena);
  color: var(--bela);
  box-shadow: -7px -4px 69px 11px var(--crvena);
}
.drafted-blue-team .coin-cost-champs {
  display: flex;
  gap: 10px;
  background-color: var(--plava);
  padding: 10px;
}
.drafted-blue-team .coin-cost-champs:not(:last-child) {
  border-bottom: 1px solid var(--bela);
}
.drafted-red-team .coin-cost-champs {
  display: flex;
  gap: 10px;
  background-color: var(--crvena);
  padding: 10px;
}
.drafted-red-team .coin-cost-champs:not(:first-child) {
  border-top: 1px solid var(--bela);
}
.coin-cost {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.coin-cost h5 {
  font-size: 36px;
}
.coin-cost img {
  max-width: 35px;
}
/* Animation Sector */
#blue-team-points {
  transition: transform 0.2s ease-in-out;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
    border-bottom: 0px solid var(--bela);
  }
  25% {
    transform: translateY(-5px);
    border-bottom: 1px solid var(--bela);
  }
  50% {
    transform: translateY(5px);
    border-bottom: 2px solid var(--bela);
  }
  75% {
    transform: translateY(-5px);
    border-bottom: 3px solid var(--bela);
  }
}
.bounce {
  animation: bounce 0.5s ease-in-out 2;
}
