/* boje */
:root {
  --bela: #ffffff;
  --crna: #000000;
  --plava: #0093e9;
  --crvena: #d33445;
  --borda: #553f46;
  --zuta: #d4c381;
  ::selection {
    color: var(--bela);
    background-color: var(--crna);
  }
}
/* fontovi */
@font-face {
  font-family: friz;
  src: url(../fonts/frizMedium.otf);
}
@font-face {
  font-family: frizBold;
  src: url(../fonts/frizBold.otf);
}
@font-face {
  font-family: frizBoldItalic;
  src: url(../fonts/frizBoldItalic.otf);
}
@font-face {
  font-family: frizItalic;
  src: url(../fonts/frizItalic.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: friz, serif;
  background-image: url(../img/champSelectBg2.png);
  background-size: cover;
  height: 100vh;
}
.logo-container {
  text-align: center;
  padding: 20px;
}
.drafted-players-container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 410px;
}
.drafted-blue-team,
.drafted-red-team {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
  padding: 15px;
  border-radius: 20px;
}
.drafted-players {
  gap: 256px;
  display: flex;
  flex-direction: row;
}
.drafted-red-team {
  background-color: var(--crvena);
}
.drafted-blue-team {
  background-color: var(--plava);
}
.drafted-player-img {
  border-radius: 50%;
  cursor: pointer;
}
/* form */
.form-draft {
  position: absolute;
}
#blue-team-points,
#red-team-points {
  font-family: friz, serif;
  font-size: 48px;
  text-align: center;
  margin-right: 20px;
}
.drafted-player-heroes {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--plava);
  padding: 20px;
  gap: 10px;
  transition: 0.27s all ease-in-out;
  opacity: 0;
}
.one-two-coins,
.three-four-coins {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.pay-to-take-heroes {
  background-color: var(--bela);
  border: 2px solid var(--crna);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.drafted-heroes-img-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.heroes-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.heroes-cost #hero-coin {
  font-size: 2.5rem;
}
/* radio buttons */
input[type="radio"] {
  /* display: none; */
}

/* hero img */
.hero-img {
  cursor: pointer;
  filter: grayscale();
  opacity: 0.8;
}
.drafted-player-container {
  position: relative;
}
.player-btn {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.list {
  display: none;
}
.coin-cost-champs {
  border: 2px solid white;
}
.coin-cost {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.coin-cost h5 {
  font-size: 36px;
}
